@font-face {
	font-family: Montserrat;
	src: url('./fonts/Montserrat-Regular.ttf');
}
.page-header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: #eee;
	padding: 10px 0;
	font-family: Montserrat;
	&-text {
		flex: none;
    color: #0d30cc;
    font-size: 40px;
	}
	&-logo {
		display: block;
		height: 65px;
    padding: 0 12px;
		flex: none;
	}
}

.page-section {
	padding-top: 100px;
	&-description {
		width: 50%;
		font-size: 18px;
	}
	&-info-cart-image {
		width: 100px;
		height: 100px;
		cursor: pointer;
	}
	&-info-title {
		font-weight: bold;
		font-size: 18px;
		text-align: center;
	}
	&-info-carts {
		display: flex;
		justify-content: space-between;
	}
	&-info-cart {
		width: 100px;
	}
	&-info-cart-text {
		text-align: center;
	}
}

.container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
}